$side: 8;

body {
  background: radial-gradient(#434343, black);
}

.board {
  display: grid;
  grid-template-columns: repeat($side, 1fr);
  grid-template-rows: repeat($side, 1fr);

  width: min(100%, 500px);
  aspect-ratio: 1 / 1;
  margin: auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  font-size: 3rem;

  &.light {
    background-color: lightcyan;
  }

  &.bold {
    background-color: darkturquoise;
  }

  &.highlight {
    background-color: #fff;
    box-shadow: 0 0 10px 0 inset cornflowerblue;
  }

  &.last {
    background-color: #fff;
    box-shadow: 0 0 10px 0 inset yellowgreen;
  }
}

@media screen and (max-width: 500px) {
  .square {
    font-size: 2rem;
  }
}
