$side: 8;

body {
  // background: radial-gradient(#434343, black);
}

.board {
  display: grid;
  grid-template-columns: repeat($side, 1fr);
  grid-template-rows: repeat($side, 1fr);

  width: min(100%, 500px);
  aspect-ratio: 1 / 1;
  margin: auto;

  &.flip {
    transform: rotate(180deg);

    .square {
      transform: rotate(180deg);
    }
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;

  &.light {
    background-color: lightcyan;
  }

  &.bold {
    background-color: darkturquoise;
  }

  &.highlight {
    background-color: white;
    box-shadow: 0 0 10px 0 inset cornflowerblue;
  }

  &.last {
    background-color: white;
    box-shadow: 0 0 10px 0 inset yellowgreen;
  }

  &.checked {
    background-color: white;
    box-shadow: 0 0 10px 5px inset darkgoldenrod;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000, $alpha: 0.5);
}

.promote {
  background-color: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  h1 {
    color: darkblue;
    font-size: 2rem;
    margin-top: 0;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: darkslategray;

  &:hover {
    background-color: slategray;
  }
}
